.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  backdrop-filter: blur(1px);
}

.modal__close-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 500;
}

.modal__close-button button {
  border: none;
  background-color: transparent;
}

.modal__close-button button svg {
  color: var(--error-color);
  transition: 0.3s;
}

.modal__close-button button svg:hover {
  opacity: 0.8;
}

.modal--top {
  justify-content: center;
  align-items: start;
}

.modal--bottom {
  justify-content: center;
  align-items: end;
}

.modal--left {
  justify-content: start;
  align-items: center;
}

.modal--right {
  justify-content: end;
  align-items: center;
}

.modal--center {
  justify-content: center;
  align-items: center;
}

.modal--padded {
  padding: 10px;
}

.modal--un-padded {
  padding: 0px;
}

.modal--full {
  width: 100%;
}

.modal--auto {
  width: auto;
}
