.nav-link.active {
  font-weight: bold;
  color: var(--active-link-color);
  cursor: default;
}

.disabled-link {
  cursor: default;
}

.nav-link {
  cursor: pointer;
  user-select: none;
}

.nav-link:hover {
  color: var(--hover-link-color);
}
