<div class="row">
  <div [ngClass]="{ 'col-4': windowWidth() > 800, 'col-12': windowWidth() < 800 }" class="d-flex flex-column gap-3">
    @for (item of pagedData; track item) {
      <div
        (keydown.enter)="onCardClick(item.id)"
        (keydown.space)="onCardClick(item.id)"
        tabindex="0"
        role="button"
        class="card"
        [class.selected]="selectedSpeechId() === item.id"
        (click)="onCardClick(item.id)"
      >
        <div class="card-body">
          <h5 class="card-title">{{ item.subject }}</h5>
          <p class="card-text">Author: {{ item.author }}</p>
          <div class="date-container">
            <span class="card-text">Date Created: {{ item.date_created | date: 'MMMM d, y, h:mm a' }}</span>
            <span class="card-text">Date Updated: {{ item.date_updated | date: 'MMMM d, y, h:mm a' }}</span>
          </div>
        </div>
      </div>
    }

    @if (pagedData.length > 0) {
      <div class="d-flex justify-content-center mt-1">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage() === 1">
              <button class="page-link" (click)="onPageChange(currentPage() - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>

            @for (item of [].constructor(totalPages); track item; let i = $index) {
              <li class="page-item" [ngClass]="{ active: currentPage() === i + 1 }">
                <button class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</button>
              </li>
            }

            <li class="page-item" [class.disabled]="currentPage() === totalPages">
              <button class="page-link" (click)="onPageChange(currentPage() + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    } @else {
      <div class="text-center">There are no items.</div>
    }
  </div>
  <div class="col-8">
    @if (windowWidth() > 800) {
      <ng-container [ngTemplateOutlet]="speechForm"></ng-container>
    } @else {}
  </div>
</div>

<ng-template #speechForm>
  @defer (when selectedSpeechId() !== -1) {
    <app-upsert-speech [speechId]="selectedSpeechId()" />
  } @placeholder {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">no selected speech</h5>
      </div>
    </div>
  }
</ng-template>
<!-- [ngClass]="{ 'col-8': windowWidth() > 800, 'col-12': windowWidth() < 800 }" -->
