.nav-link.active {
  font-weight: bold;
  color: var(--active-link-color);
  cursor: default;
}

.nav-link {
  cursor: pointer;
  user-select: none;
}

.nav-link:hover {
  color: var(--hover-link-color);
}

.navbar-toggler {
  border: none;
  background-color: none;
  outline: none;
}

.navbar-collapse {
  padding: 10px;
  box-shadow: 10px;
}
